
<div class="input-container">
    <input
    type="text" 
    placeholder="Filtrar por nombre"
    [(ngModel)]="filterPokemon"
    name="filterPokemon"
    >
</div>

    <div class="table-container">
        <table class="table-pokemon">
            <tr class="encabezado">
                <th>Pokemon</th>
                <th>Acción</th>
            </tr>
            <tr class="lines" *ngFor="let pokemon of pokemones | filter:filterPokemon">
                <td><p>{{pokemon.name}}</p></td>
                <td><button (click)="pokemonSelected(pokemon)" >Ver Más</button></td>
            </tr>
        </table>
    </div>

    <div class="card-container-pokemon">
        <div *ngFor="let poke of pokes" class="card-pokemon-list">
            <div class="img-pokemon">
                <img src="{{poke.sprites.front_default}}" alt="Imagen Pokemon">
            </div>
            <div class="name-pokemon">
                <p>{{poke.name}}</p>
            </div>
        </div>
    </div>
