
<div class="input-container">
    <input
    type="text" 
    placeholder="Filtrar por nombre"
    [(ngModel)]="filterPokemon"
    name="filterPokemon"
    >
</div>

<div class="pokemon-container">
    <div class="pokemon">
        <div class="pokemon-card" *ngFor="let pokemon of pokemones | filter:filterPokemon">
            <div class="pokemon-img">
                <img src="../../../../assets/fondo.jpg" alt="">
            </div>
            <p>{{pokemon.name}}</p>
        </div>
    </div>
</div>